
.game {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  padding-top: 15%;

}

.game-board{
  position: relative;
  left: 12.5%;
  width: fit-content;
  
  
}
.game-info {
  font-family: 'Agency FB';
  font-size: 40px;
  text-align: center;
  
}


.square {
  background-color: #fff;
  background-repeat:no-repeat;
  font-size: x-large;
  float: left;
  width: 70px;
  height: 70px;
  border: 2px solid coral;

}

.board-row {
height: 30%;
width: fit-content;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.button {
  
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  font-family: 'Agency FB';
  
 
  color: #fff;
  background-color:coral;

  border-radius: 5px;
  box-shadow: 0 7px darkslategray;
}

.button:hover {background-color:chocolate}

.button:active {
  background-color: chocolate;
  box-shadow: 0 2px black;
  transform: translateY(4px);
}
